nav > ul{
    display: flex;
    justify-content: center;
}
nav li {
    list-style: none;
    margin-right: 10px;
}
nav li a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}
nav li:hover{
    background-color: rgb(177, 171, 171);
}
.dropdown{
    display: none;
    position: absolute;
    background-color: lightgray;
    padding: 0;
}
.dropdown li {
    padding: 0 20px;
    margin: 0;
}

nav > ul > li:hover > ul {
    display: block;
}
